<h3 class="text-center">Bienvenidos al sistema BD Sismos</h3>

<br class="img-center">
<img [src]="src" [alt]="alt">
<br>
<p>Un sismo, también conocido como terremoto o temblor, es un movimiento brusco y repentino de la Tierra causado por la liberación de energía acumulada en el interior de la corteza terrestre. Esta liberación de energía puede ser provocada por la actividad tectónica, como el desplazamiento de placas tectónicas, o por la actividad volcánica.

    Los sismos pueden variar en intensidad, desde pequeñas vibraciones apenas perceptibles hasta terremotos de gran magnitud que causan daños materiales y humanos significativos. La magnitud de un sismo se mide en la escala de Richter, que indica la cantidad de energía liberada durante el evento. También se utilizan otras escalas, como la escala de Mercalli, que mide la intensidad de los efectos del sismo en el terreno y las estructuras cercanas al epicentro.</p>


    <iframe width="1100" height="400" src="http://www.ssn.unam.mx/" frameborder="0"></iframe>
<p>La sección de Física del Sistema Terrestre (ESP) estudia un amplio espectro del sistema terrestre, desde sus componentes fluidos (océanos y atmósfera) hasta el interior del planeta.
    La sección ESP mantiene una variedad de modelos y conjuntos de datos y coordina la RED de investigación climática regional (RegCNET), que abarca más de 600 participantes en todo el mundo</p>

<p>El objetivo principal de la sismología es estudiar y comprender los sismos y otros movimientos de la Tierra. La sismología es una rama de la geofísica que se enfoca en el estudio de las ondas sísmicas que se producen durante los sismos y en la interpretación de los datos registrados por las estaciones sismológicas.</p>

<p>Entre los objetivos específicos de la sismología se incluyen:</p>
    <ul>
    <li>Caracterizar y clasificar los sismos: La sismología busca determinar las características de los sismos, como su magnitud, profundidad y localización, así como clasificarlos según su origen y características.
    </li> 
    <li> Comprender la estructura interna de la Tierra: El estudio de las ondas sísmicas permite conocer la estructura interna de la Tierra y la distribución de las propiedades físicas del subsuelo.
</li> 
<li>Evaluar el riesgo sísmico: La sismología también tiene como objetivo evaluar el riesgo sísmico en diferentes regiones del mundo, identificando las zonas más vulnerables y proporcionando información útil para la planificación urbana y la toma de decisiones en materia de prevención y respuesta a desastres.
</li> 
<li>Desarrollar tecnologías y métodos de monitoreo sísmico: La sismología también busca desarrollar tecnologías y métodos de monitoreo sísmico que permitan detectar y medir los sismos con mayor precisión, lo que es importante para la alerta temprana y la respuesta rápida ante los desastres naturales.

</li> </ul>


